html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "DarlingCoffee";
  src: url("./assets/darling_coffee/Darling\ Coffee.ttf") format("truetype");
}
@font-face {
  font-family: "other";
  src: url("./assets/fonarto/Fonarto.ttf") format("truetype");
}
.down-arrow-section {
  width: 100vw;
  top: 94vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  rotate: -90deg;
}
.down-arrow-section .down-arrow-section-img {
  cursor: pointer !important;
}
.home-section {
  width: 100vw;
  height: 100vh;
  background-color: rgb(5, 110, 61);
}
.home-section-div {
  position: relative;
  min-width: 100%;
  height: 100%;
  justify-content: center; /* Center horizontally if needed */
  align-items: center; /* Center vertically if needed */
}
.home-section-img {
  max-width: 1000px;
  max-height: 1000px; /* Constrain height to the container */
}

.home-section-container {
  top: 25%;
  bottom: 40%;
  left: 50%;
  right: 8%;
  position: absolute;
}
.home-section-container-tag {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  color: rgb(255, 255, 255);
  margin: 0 !important;
}
.home-section-container-content {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.home-section-nav {
  background-color: rgb(1, 61, 33);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-section-nav-title {
  font-family: "DarlingCoffee", sans-serif;
  font-size: 35px;
  color: rgb(247, 247, 247);
}
.ui.button.nav-button-bold-value {
  border-radius: 4px;
  padding: 0.6em 0.8em 0.6em;
  font-size: 18px;
  font-weight: 700 !important;
  color: rgb(1, 61, 33);
  font-family: "other", sans-serif;
}
.ui.button.products-button {
  border-radius: 100%;
  text-align: center;
  padding: 0.6em 0.8em 0.6em;
  font-size: 18px;
  font-weight: 700 !important;
  color: rgb(255, 255, 255);
  font-family: "other", sans-serif;
}
.home-section-nav-button {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
.products-section {
  height: 100vh;
  width: 100vw;
  padding: 12em 25em 12em 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#background-video {
  position: absolute;
  z-index: -2;
  transform: scale(1.2);
  filter: blur(3px) brightness(70%) contrast(150%) grayscale(50%) opacity(0.7);
}
.zoom-animation {
  animation: zoom 7s infinite alternate;
}
/* Define the zoom animation */
@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.products-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  height: 100%;
  width: 100%;
  padding: 40px;
  z-index: 9;
}
.products-class-child-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.products-class-child-2 {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}
.products-class-child-child-1 {
  flex: 1;
  width: 500px;
}
.products-class-child-child-2 {
  flex: 1;
  width: 500px;
}
.products-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-img-tag {
  font-family: "DarlingCoffee", sans-serif;
  align-self: flex-start;
  font-size: 35px;
  padding-left: 50px;
  color: rgb(247, 247, 247);
}
.products-img {
  max-width: 400px; /* Set desired width */
  height: 400px;
}
@keyframes productsRotateOnChange {
  from {
    transform: rotate(-80deg); /* Rotate from 20 degrees */
  }
  to {
    transform: rotate(0deg); /* Rotate to 50 degrees */
  }
}

.products-content {
  font-family: "other", sans-serif;
  font-size: 25px;
  font-weight: 500 !important;
  line-height: 30px;
  color: white;
  padding-right: 20px;
}

.text-focus-in {
  animation: text-focus-in 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(8px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.subscription-section {
  height: 100vh;
  width: 100vw;
  padding: 8em 25em 8em 25em;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 241, 224);
}
.subscription-section-tag {
  font-family: "DarlingCoffee", sans-serif;
  font-size: 35px;
}
.weekly-updates-container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow-y: scroll;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
}
.weekly-update-element {
  margin-top: 10px;
  background-color: rgb(131, 92, 70);
  padding: 25px;
  color: white;
  border-radius: 12px;
  margin-right: 10px;
}
.weekly-update-element-date {
  margin: 0;
}
.weekly-update-element-heading {
  margin: 0;
  font-weight: 900;
}

.contact-section {
  height: 100vh;
  width: 100vw;
  padding: 8em 25em 8em 25em;
  display: flex;
  background: radial-gradient(
    circle,
    rgba(16, 139, 182, 1) 0%,
    rgba(0, 64, 87, 1) 100%,
    rgba(100, 64, 87, 1) 100%
  );
  gap: 100px;
}
.contact-section-address {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  color: white;
}

.contact-section-address > * {
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
.contact-section-address > :nth-last-child(n) {
  margin-bottom: 20px;
}
.form-svg {
  margin-top: 4px;
  margin: 8px 5px 0px 3px;
}

.ui.form > *,
.ui.form input[type="email"],
.ui.form textarea,
.ui.form input[type="text"] {
  margin-bottom: 10px;
}

#error-message {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 15px;
  font-style: normal;
  display: none;
  width: max-content;
}
.contact-section-tag {
  font-family: "DarlingCoffee", sans-serif;
  font-size: 35px;
  color: white;
  margin-bottom: 25px;
}

.footer-section {
  width: 100vw;
  height: 50px;
  background: #e2e2e2;
  display: flex;
  align-items: center;
}
.footer-section-tag {
  font-family: "other", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.footer-section-tag-github-icon {
  margin-left: 10px;
  cursor: pointer;
}
